body {
    background-color: black;
}

h1 {
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.content{
    text-align: center;
    margin: 20px;
}


.container {
    text-align: center;
    margin: 20px;
}

.container a{
    text-decoration: none;
    color: black
}

.container button{
    background-color: white;
    border: none;
    border-radius: 8px;
    margin: 20px;
    font-family: sans-serif;
    font-size: 16px;
}